body {
	margin:0px;
padding:0px;
   background-image:url(../image/Crunchify.png);
	

}
#center{
	width:50%;
	height:auto;
	background:;
	top:10%;
	left:18%;
	position:absolute;
	
	
	
}

#comment_area{
	width:80%;
	height:auto;
	background:;
	position:absolute;
	margin-top:40px;
	float:left;
	
}
#po_all tr td{
	padding:3px;
	color:;
}
#po_all{
	height:10px;
}

#comt_b{
	
	
	background-image:url(image/delete_comment.gif); 
	background-size:15px;
	background-repeat:no-repeat;	
	
}


#post{
	width:100%;
	height:auto;
	background:;
	position:absolute;
	margin-top:250px;
	float:left;
	background:;
	
}


#upload_mobile{display:none; }


/* mobile size*/
@media (max-width:1024px) {
	*{margin:0px; padding:0px;}
	#center{width:100%;height:100%; float:left; position:; left:0%;top:25%; background:blue; }
	#upload{ display:none; }
	.table-responsive{width:100%; font-size:12px;}
	
	#comment_area{width:100%; float:left; position:absolute;  background:;  margin:20px 0px 0px 0px;}
	#post{width:100%; position:absolute; float:left;  }
	#upload_mobile{display:block; float:left; width:100%; background:; height:170px;  position:absolute;}
	#upload_mobile table{background:;float:left; }
}